*{
  margin:0px;
  padding:0px
}
.formAlign{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 20vh auto;
}
.formAlign input{
  margin-bottom: 5px;
  padding: 5px;
}
.formAlign button{
  margin-top: 10px;
  padding: 5px;
}
.formBorder{
  border: 0.1px solid black;
  width: 65vw;
  height: 60vh;
  margin: 0 auto;
}