*{
  margin:0px;
  padding:0px
}
 /* uncomment this to gv ur login and sugnup page shape */
body{
  background-color: rgb(236, 192, 110);
}

.formAlign{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0px auto;
  margin-top: 20px;
}
.formAlign input{
  margin-bottom: 5px;
  padding: 5px;
}
.formAlign button{
  margin-top: 50px;
  padding: 5px;
}
.formBorder{
  /* How about border: 10px solid transparent */
  border: 0.1px solid transparent;
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
  border-bottom: none;
  width: 65vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 20px;
  background-color: orange;
}
.headerSpread a{
  color: white;
  text-decoration: none;
}
.signupBtn{
  height: 6vh;
  border-radius: 10px;
}

/* form input - this makes my border have only bottom border*/
.bottomBorder{
  outline: none;
  border: none;
  border-bottom: 0.5px solid black;
  margin-top: 5px;
}
form label {
  margin-top: 15px;
  padding-top: 5px;
}
.formCoverOne {
  border: 0.1px solid transparent;
 height: 70vh;
 margin-top: 75px;
 border-radius: 30px;
 /* background-color: rgb(248,248,255); */
 background-color: white;
 margin-left:-2.5px;
 margin-right:-2.5px
 /* width: 72vw; */
}
.acctLink{
  margin-top: 40px;
  margin-left:90px
}
.headerSpread{
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.userImage{
  border-radius: 50%;
  height: 15%;
  margin-left: 175px;
  margin-top: -22px;
}
.welcome{
  margin-left: 160px;
  /* margin-top: -22px; */
  padding-top: 20px;
}

/* .blackBtn{
  background-color: black;
  border-color: black;
}
.whiteBtn{
  background-color: blue;
  border-color: blue;
} */
/* .selectedDev :checked{
  background-color: black;
  border-color: tomato;
} */
/* this not working */
input[type="radio"]:checked {
  /* box-shadow: 0 0 0 3px orange; */
  background-color: black;
  /* color: black; */
}
input[type="radio"]{
  border: 0;
  width:10%;
  height: 2em;
  color: black;
  background-color: black;
}
.devName{
  /* border:1px solid transparent ; */
  padding: 6px;
  
}

/* .crmBody{
  background-color: burlywood;
} */

.crmBlock{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}
.radioBlock{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 2px solid black; */
  width: 40vw;
  margin: 20px auto;
}


.rBTN label{
  position: absolute;
  margin: 8px;
  margin-top: -0.1px;
}

.addDev{
  padding: 3%;
  width: 10em;
  border-radius: 15%;
}

/* dev Body section */
.devInfo {
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 3em;
  padding: 1.5%;
  border: 2px solid black;
  /* border-radius: 5%; */
  /* justify-content: center; */
}

.devPara {
  margin-top: 15px;
  border: 1px solid transparent;
  background-color: palegreen;
  padding: 2px;
}
.devRmv button {
  padding: 8px;
  font-size: large;
}
.devRmv {
  position: absolute;
  left: 29em;
}