*{
  margin:0px;
  padding:0px
}
body{
  background-color: rgb(236, 192, 110);
}
.formAlign{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0px auto;
  margin-top: 20px;
}
.formAlign input{
  margin-bottom: 5px;
  padding: 5px;
}
.formAlign button{
  margin-top: 50px;
  padding: 5px;
}
.formBorder{
  /* How about border: 10px solid transparent */
  border: 0.1px solid transparent;
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
  border-bottom: none;
  width: 65vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 15px;
  background-color: orange;
}
.headerSpread a{
  color: white;
  text-decoration: none;
}
.signupBtn{
  height: 6vh;
  border-radius: 10px;
}

form input{
  outline: none;
  border: none;
  border-bottom: 0.5px solid black;
  margin-top: 5px;
}
form label {
  margin-top: 15px;
  padding-top: 5px;
}
.formCoverOne {
  border: 0.1px solid transparent;
 height: 70vh;
 margin-top: 75px;
 border-radius: 30px;
 /* background-color: rgb(248,248,255); */
 background-color: white;
 margin-left:-2.5px;
 margin-right:-2.5px
 /* width: 72vw; */
}
.acctLink{
  margin-top: 40px;
  margin-left:90px
}
.headerSpread{
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.userImage{
  border-radius: 50%;
  height: 15%;
  margin-left: 175px;
  margin-top: -22px;
}
.welcome{
  margin-left: 160px;
  /* margin-top: -22px; */
  padding-top: 20px;
}